

    <div class="home-product">
        <div class="gird__row" id="search__content" >
            {{#each products}}
                <div class="gird__column-2-4">
                    <div class="home-product-item">
                        <a href="/product/{{ this.slug }}">
                            <div class="home-product-item__img" style="background-image: url('../../../image/{{ this.image }}');"></div>
                        </a>
                        <h4 class="home-product-item__name">{{ this.name }}</h4>
                        <div class="home-product-item__price">
                            <span class="home-product-item__price-old">{{ format_number (priceOld this.price) }} đ</span>
                            <span class="home-product-item__price-current">{{ format_number this.price }} đ</span>
                        </div>
                        <div class="home-product-item__action">
                            <span class="home-product-item__like">
                                <i class="far fa-heart"></i>
                                <!-- <i class="fas fa-heart"></i     -->
                            </span>
                            <div class="home-product-item__rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>

                        <div class="home-product-item__origin">
                            <span class="home-product-item__brand">Whoo</span>
                            <span class="home-product-item__origin-title">Hàn Quốc</span>
                        </div>

                        <div class="home-product-item__favourite">
                            <i class="fas fa-check home-product-item__favourite-icon"></i>
                            <span class="home-product-item__favourite-title">Yêu thích</span>
                        </div>

                        <div class="home-product-item__safe-off">
                            <span class="home-product-item__safe-off-percent">10%</span>
                            <span class="home-product-item__safe-off-label">Giảm</span>
                        </div>
                    </div>
                </div>  
            {{/each}}  
        </div>
    </div>

